@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Caveat&family=Nothing+You+Could+Do&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    /* padding: 0;
    margin: 0; */
    background-color: rgb(247, 246, 244);
}

/* tabs container*/
.tabs {         
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-bottom: 3px solid black;
    height: 3vh;
    position: fixed; 
    width: 100%;
    background-color: white;
}

.tab {
    text-decoration: none; /* text-decoration property to remove underline from anchor tag -->*/
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.tab.active {
    background-color: rgba(22, 187, 0, 0.686)
}
.tab:hover { 
    background-color: rgb(255, 225, 0);
}

/* Content Boarder Design*/
.content-container {
    position: relative; 
    z-index: -1; 
    top: 3vh;
    border: 10px solid red;
     
    
}
/* Tab Content Design*/
.tab-content {
    display: none; /* make the tab content hidden */ 
}

.active.tab-content {
    display: block;
}

h1 {
    text-align: center;
    font-size: 50px;
    border: 10px solid rgb(255, 196, 0);
}

.paragraph {
    font-family: 'Arapey', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    text-align: justify; 
    padding:13%;
    background: url("./Image/backgroundLeave01.png"), url("./Image/backgroundLeave02.png") ;
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
}



