@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Caveat&family=Nothing+You+Could+Do&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(247, 247, 247);
    position: relative;
    height: 100%;
    width: 100%;
    border:solid rgb(253, 250, 250);
}

/* tabs container*/
.tabs {         
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-bottom: 3px solid darkolivegreen;
    height: 3vh;
    position: fixed; 
    width: 100%;
    background-color: white;
}

.tab {
    text-decoration: none; /* text-decoration property to remove underline from anchor tag -->*/
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.tab.active {
    background-color: rgba(121, 153, 66, 0.809);
}
.tab:hover { 
    background-color: rgb(238, 222, 102);
}

/* Content Boarder Design*/
.content-container {
    position: relative; 
    z-index: -1; 
    top: 3vh;  
}

.content-container p{
    display: block;
    margin-bottom: 1em;
}

/* Tab Content Design*/
.tab-content {
    display: none; /* make the tab content hidden */ 

}

.active.tab-content {
    display: block;
    font-family: 'Arapey', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    font-weight: 600;
    text-align: center; 
    justify-content: center;
    
    background: url("./Image/Largerbackground01.png"), url("./Image/Largerbackground02.png") ;
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    
    width: 100%;
    padding:13%;  
    margin-bottom: 5vh;
}



h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}


/* Bottom Design */

footer{
    
    border-top: 3px solid darkolivegreen;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    
    position: absolute;
    bottom: 0;
    width: 100%;
 }

.icons-container{
    text-align: left;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

footer p{
    text-align: right;
    font-style: italic;  
    font-weight: bold;
    padding-right: 1vw;
    padding-top: 0.5vh;
}

/* image carousel */


.slides-container{
    width: auto;
    max-width: 610px;
    max-height: 350px;
    position: relative;
    margin: 0 auto;
    border:5px solid black;
}

.slides img{
 width: 600px;
 height: 340px;

}

.slides-controls{
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
}


#prev-button{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 3%;
    font-size: 20px;
    color:white;
    cursor: pointer;
    background: transparent;
    opacity: 0.8;
}

#next-button{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 3%;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background: transparent;
    opacity: 0.8;
}

@media only screen and (max-width: 800px) {
    .slides-container{
        width: 100%;
    }
}